.bg-imgWrapper {
    box-sizing: border-box;
    position: absolute;
    height: fit-content;
    width: 58rem;
    right: 10rem;
    top: 28rem;
    bottom: 0;
}

.bg-img {
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding: 2rem;
    height: auto;
    object-fit: contain;
    object-position: center;
    max-width: 100%;
    z-index: -1;
}

@media (max-width: 1640px) {
    .bg-imgWrapper {
        top: 30rem;
        right: 0rem;
        width: 52rem;
    }
}

@media (max-width: 1280px) {
    .bg-imgWrapper {
        top: 35.6rem;
        right: 0rem;
    }
}

@media (max-width: 960px) {
    .bg-imgWrapper {
        top: 35.6rem;
        width: 48rem;
    }
}

@media (max-width: 770px) {
    .bg-imgWrapper {
        top: 39rem;
        width: 38rem;
    }
}

@media (max-width: 600px) {
    .bg-imgWrapper {
        top: 43rem;

        width: 26rem;
    }

    .bg-img {
        padding: 0rem;
        width: 27rem;
    }
}

@media (max-width: 485px) {
    .bg-imgWrapper {
        top: 47rem;
        width: 20rem;
        right: 1.5rem;
    }
}

@media (max-width: 350px) {
    .bg-imgWrapper {
        top: 49rem;
        width: 15rem;
        right: 1rem;
    }
}
