.thinkBoxWrapper {
    position: relative;
    height: 6em;
    width: 6em;
    background-color: #0d7377;
    top: -1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 4.5em;
    letter-spacing: 0.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.thinkBoxTxtWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0.95em;
    line-height: 1em;
}

.txtBox {
    color: #0d7377;
}

@media (max-width: 1280px) {
    .thinkBoxWrapper {
        font-size: 3.4em;
        top:0;
    }
}

@media (max-width: 960px) {
    .thinkBoxWrapper {
        font-size: 2.8em;
    }
}

@media (max-width: 600px) {
    .thinkBoxWrapper {
        font-size: 1.8em;
    }
}
