@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+SC:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  background-color: #ffffff;
  font-family: "Merriweather", serif;
  font-family: "Noto Sans SC", sans-serif;
}

footer {
  background-color: #31393c;
  font-size: large;
}

.app-container {
  height: 100%;
  width: 100%;
  background-color: #ffff;
}

.porfolio-Container {
  display: flex;
  justify-content: center;
}
