@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+SC:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #e8e9eb;
  font-family: "Merriweather", serif;
  font-family: "Noto Sans SC", sans-serif;
  font-size: large;
}

footer {
  background-color: #223843;
  font-size: large;
}

.app-container {
  height: 100%;
  width: 100%;
  background-color: #ffff;
}

.porfolio-Container {
  display: flex;
  justify-content: center;
}
/* 
#223843
#0094d8
#cad8de
#e8e9eb
#eff1f3 */
